# Contents
[submodule "company"]
	path = company
	url = git@github.com:Seolhun/company.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Seolhun/frontend.git
[submodule "algorithm"]
	path = algorithm
	url = git@github.com:Seolhun/algorithm.git
# Devops
[submodule "devops/aws"]
	path = devops/aws
	url = git@github.com:Seolhun/aws.git
[submodule "devops/docker-example"]
	path = "devops/docker-example"
	url = git@github.com:Seolhun/docker-example.git
# Studies
[submodule "study/algorithm"]
	path = study/algorithm
	url = git@github.com:Seolhun/TIL-algorithm.git
[submodule "study/java/java-example"]
	path = study/java/java-example
	url = git@github.com:Seolhun/java-example.git
[submodule "study/python/python-example"]
	path = study/python/python-example
	url = git@github.com:Seolhun/python-example.git
[submodule "study/vue/kr-study-incheon"]
	path = study/vue/kr-study-incheon
	url = git@github.com:Seolhun/kr-study-incheon.git
[submodule "study/vue/vue-example"]
	path = study/vue/vue-example
	url = git@github.com:Seolhun/vue-example.git
[submodule "study/design_patterns_in_typescript"]
	path = study/design_patterns_in_typescript
	url = git@github.com:torokmark/design_patterns_in_typescript.git
