[submodule "study/vue/kr-study-incheon"]
	path = study/vue/kr-study-incheon
	url = https://github.com/Seolhun/kr-study-incheon.git
[submodule "study/vue/vue-example"]
	path = study/vue/vue-example
	url = https://github.com/Seolhun/vue-example.git
[submodule "company"]
	path = company
	url = https://github.com/Seolhun/company.git
[submodule "devops/aws"]
	path = devops/aws
	url = https://github.com/Seolhun/aws.git
[submodule "devops/docker-example"]
	path = devops/docker
	url = https://github.com/Seolhun/docker-example.git
[submodule "study/java/java-example"]
	path = study/java/java-example
	url = https://github.com/Seolhun/java-example.git
[submodule "study/python/python-example"]
	path = study/python/python-example
	url = https://github.com/Seolhun/python-example.git